nav ul {
    display: flex;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    margin: 0;
    align-items: center;
    gap: 36px;
    padding: 10px 80px;
    justify-content: end;
    box-shadow: 0px 2px 20px rgba(109, 109, 109, 0.2);
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px 0px;
    width: 100px;
    box-shadow: 0px 2px 20px rgba(109, 109, 109, 0.2);
}

nav ul li ul li {
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li img {
    width: 100px;
    height: auto;
}

body {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(175, 31, 110);
    font-weight: 520;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    color: rgb(80, 15, 51);
    font-weight: 680;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hero {
    margin-top: 120px;
    display: flex;
    margin-bottom: 100px;
}

.hero .kolom {
    width: 50%;
}

section {
    margin: 0px 80px;
}

#kolom-2 {
    display: flex;
    justify-content: center;
}

#kolom-2 img{
    display: block;
    margin: auto;
    animation: floating 4s ease-in-out infinite;
}

.hero #kolom-2 img{
    margin-top: 40px;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.baris1 h1{
    color: rgb(175, 31, 110);
    font-size: 40px;
}

.baris2 h3 {
    width: 84%;
    margin-top: -10px;
    margin-bottom: 35px;
    color: rgb(71, 16, 63);
    font-size: 24px;
    gap: 16px;
}

.baris3 {
    gap: 8px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 84%;
    color: rgb(175, 31, 110);
}

.baris4 button {
    background-color: rgb(175, 31, 110);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.baris4 a{
    text-decoration: none;
    color: whitesmoke;
}

.baris4 button:hover {
    background-color: rgb(71, 16, 63);
    color: whitesmoke;
}

.baris4 a:hover{
    color: whitesmoke;
}

/* ----- Why Choose Us ----- */
.reason {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40x 20px;
}
  
.reason .kolom {
    flex: 1;
}
  
.reason #kolom-1 img {
    width: 84%;
    border-radius: 10px;
    margin-top: 40px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
  
.reason #kolom-2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.reason #kolom-2 h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(71, 16, 63);
}
  
.reason #kolom-2 p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
  
.reason #kolom-2 a button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 640;
    background-color: rgb(175, 31, 110);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
  
.reason #kolom-2 a button:hover {
    background-color: rgb(71, 16, 63);
}
  
.stats.container {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
  
.stats {
    text-align: center;
}
  
.stats h4 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(175, 31, 110);
}
  
.stats p {
    font-size: 14px;
    color: #040404;
    font-weight: 300;
}

/* Card */

.card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    align-items:center;
    color: rgb(71, 16, 63)
}

.card-wrapper h1{
    font-size: 28px;
}

.card-wrapper h2{
    font-size: 20px;
}

.card-wrapper p{
    font-size: 14px;
}

div.card-container{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.card{
    background: white;
    border-radius: 10px;
    padding: 12px;
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 180px; 
    object-fit: cover;  
    border-radius: 8px;
}

.galeri h2{
    flex-direction: column;
    margin: 3rem auto;
    text-align: center;
    color: rgb(71, 16, 63);
    font-size: 28px;
}

.galeri-container {
    display: flex;
    justify-content: center;
    gap: 24px; 
    flex-wrap: wrap; 
}

.galeri-item {
    flex: 200px; 
    max-width: 250px; 
    text-align: center;
}

.galeri-item img {
    width: 100%; 
    height: 200px;
    border-radius: 8px; 
    object-fit: cover;
}

.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact h1 {
    margin-bottom: 15px;
    margin-top: 120px;
    text-align: center;
    color: rgb(71, 16, 63);
    font-size: 28px;
}

.contact p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact label {
    text-align: left;
    font-weight: bold;
    color: #555;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact textarea {
    resize: none;
}

.contact button {
    background-color: #83408f;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact button:hover {
    background-color: #760d88;
}

.last-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Pastikan tinggi minimal layar penuh */
}

.last-section h2{
    margin-top: 120px;
    text-align: center;
    color: rgb(71, 16, 63);
    font-size: 28px;
}

footer {
    color: #83408f;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
}